<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSetupSuite" verbose="1">
  <test name="TestSetup">
    <groups>
      <run>
        <include name="TestSetup" />
      </run>
    </groups>
    <packages>
      <package name="com.payoff" />
    </packages>
  </test>
</suite>